@{
    ViewData["Title"] = "Crash Summary";
}

@model CrashesViewModel

<div class="row">
    <div class="col-2">
        <p>Put the filter stuff here</p>
    </div>
    <div class="col-10">
        <table class="table table-bordered table-striped">

            <thead class="font-weight-bold">
                <tr>
                    <td>Crash Id</td>
                    <td>Crash Date</td>
                    <td>Crash Severity</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Crashes)
                {
                <tr>
                    <td>@c.CRASH_ID</td>
                    <td>@c.CRASH_DATE</td>
                    <td>@c.CRASH_SEVERITY_ID</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@c.CRASH_ID">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@c.CRASH_ID">Delete</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<div page-blah="@Model.PageInfo" page-action="CrashSummary"></div>