@{
    ViewData["Title"] = "Crash Summary";
}

@model CrashesViewModel
<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-2">
                <vc:filters></vc:filters>
            </div>
            <div class="col-10">
                <table class="table table-bordered table-striped">

                    <thead class="font-weight-bold">
                        <tr>
                            <td>Crash Id</td>
                            <td>Crash Date</td>
                            <td>Crash Severity</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model.Crashes)
                        {
                            <tr>
                                <td>@c.CRASH_ID</td>
                                <td>@c.CRASH_DATE</td>
                                <td>@c.CRASH_SEVERITY_ID</td>

                                <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@c.CRASH_ID">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@c.CRASH_ID">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <div page-blah="@Model.PageInfo" page-action="CrashSummary" class="btn-group"></div>
        <form method="post">
            <label>Jump to Page:</label>
            <input type="number" />
            <button type="submit" asp-controller="Home" asp-action="pageJump" class="btn btn-secondary">Go</button>
        </form>
        <p>Page @Model.PageInfo.CurrentPage of @Model.PageInfo.TotalPages Pages</p>
    </main>
</div>

